@import  '../../styles/utils/variables';

.todo-board {
  width: 100%;
  min-height: 540px;
  padding: 30px;
  border-radius: 20px;
  background-color: $secondary-color-500;

  @media (min-width: $tablet-width) {
    width: 420px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
  }
}

.todo-board__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.todo-board__title {
  margin: 0;
  font-size: 28px;
  line-height: 34px;
}

.todo-board__add-button {
  padding: 0.4em 1em;
  border-radius: 0.7em;
  text-transform: uppercase;
  background-color: $primary-color-500;
  transition: all 0.2s ease;

  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;

  font-size: 14px;
  line-height: 17px;

  &:focus {
    outline: none;
    background-color: $primary-color-700;
  }

  &:hover {
    background-color: $primary-color-700;
  }

  &:active {
    background-color: $primary-color-500-20;
  }
}
