@import  '../../styles/utils/variables';

.todo-item {
  padding: 8px 0;
}

.todo-item__check {
  padding-left: 2.2em;
  cursor: pointer;
  display: block;
  position: relative;
}

.todo-item__check-input {
  position: absolute;
  appearance: none;

  &:hover + .todo-item__check-box {
    background-color: $primary-color-500-20;
  }

  &:hover ~ .todo-item__text {
    color: $primary-color-500;
  }

  &:focus + .todo-item__check-box {
    background-color: $primary-color-500-20;
  }

  &:focus ~ .todo-item__text {
    color: $primary-color-500;
  }

  &:checked + .todo-item__check-box {
    background-color: $primary-color-500;
    background-image: url("../../../src/img/checkbox/check-mark.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 70% auto;
  }

  &:checked ~ .todo-item__text {
    text-decoration: line-through;
    color: $secondary-color-200;
  }

  &:checked ~ .todo-item__description {
    text-decoration: line-through;
  }

  &:checked:hover ~ .todo-item__text {
    color: $white;
  }

  &:disabled + .todo-item__check-box {
    opacity: 0.3;
  }

  &:disabled ~ .todo-item__text {
    opacity: 0.3;
  }

  &:disabled:hover + .todo-item__check-box {
    opacity: 0.3;
    background-color: $secondary-color-200;
  }

  &:disabled:checked:hover + .todo-item__check-box {
    background-color: $primary-color-500;
  }

  &:disabled ~ .todo-item__text {
    opacity: 0.3;
    color: $white;
  }
}

.todo-item__check-box {
  position: absolute;
  width: 1.3em;
  height: 1.3em;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  background-color: $secondary-color-200;
  border-radius: 6px;
  transition: all 0.2s ease;
}

.todo-item__text {
  transition: all 0.2s ease;
  margin-top: 0;
  margin-bottom: 2px;
  line-height: 19.5px;
}

.todo-item__description {
  color: $secondary-color-200;
  font-size: 12px;
  line-height: 15px;
  margin: 0;
}
