//Colors

$white: #ffffff;
$black: #000000;

$primary-color-500: #FF8469;
$primary-color-700: #D95133;

$primary-color-500-20: rgba(255, 132, 105, 0.2);

$secondary-color-900: #010920;
$secondary-color-500: #252E42;
$secondary-color-400: #31394D;


