@import  '../../styles/utils/variables';

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 30px;
}

.footer__copyright {
}

.footer__copyright h2 {
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 500;
  color: $secondary-color-500;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }
}
