.page {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr min-content;

  &--main {
    color: $white;
    background-color: $secondary-color-900;
  }
}

.page__main {
  background-color: inherit;
}

.page__footer {
  background-color: inherit;
}

.page__container {
  margin: 0 auto;
  width: 100%;
  min-width: $mobile-width;
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    max-width: $max-desktop-width;
    padding: 0 100px;
  }
}
